.bg_left {
  background-color: #fff;
  padding: 20px;
  border: 1px solid red;
}

.bg_right {
  background-color: #f5f5f5;
  border: 1px solid green;
}

.right_profile_top_container {
  background-color: #f5f5f5;
}
