$primary: #2b3149;
$secondary: #627079;
$backgroundgrey: #f5f5f5;

body {
  background-color: $backgroundgrey;
}

.top_achievers_container {
  min-height: 250px;
  padding: 12px;
  background-color: white;
}

.top_achievers_container .container {
  min-height: inherit;
  background-color: #f5f5f5;
}

.top_achievers_title {
  font-size: 20px;
  padding: 10px 0px 10px 0px;
  display: block;
  text-align: center;
  color: $primary;
}

.top_achievers_container2 {
  min-height: 210px;
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.image_style {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.top_achievers_images {
  display: flex;
  gap: 2rem;
  height: 150px;
  margin-top: 30px;
}

.top_achievers_avatar_bottom {
  align-self: flex-end;
}
.top_achievers_avatar_bottom,
.top_achievers_avatar_top {
  justify-items: center;
  text-align: center;
}
.top_achievers_name {
  font-size: 13px;
  font-weight: 600;
  margin-top: 10px;
}
.top_achievers_points {
  color: gray;
  font-size: 13px;
}

.top_achievers_points_span {
  font-size: 12px;
}
.top_achievers_badge .MuiBadge-anchorOriginTopRight {
  color: white !important;
}
